.liste-acteurs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .acteur {
    border: 5px solid $jaune;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(60% - 40px);
    margin:20px auto;

    img {
width:100%;

    }

    h3 {
      text-align: center;
    }
  }


  @media screen and (min-width: $vw-medium) {
    flex-direction: row;
    flex-wrap:wrap;

    .acteur{
      width: calc(50% - 60px);
    }

  }

  @media screen and (min-width: $vw-large) {
    flex-direction: row;
    flex-wrap:wrap;
    .acteur{
      width: calc(40% - 100px);
    }
  }
}