
.swiper-container {
  display: flex;

  list-style: none;
  padding: 0;
  margin: 20px 0;
  width: 60%;


  .swiper-wrapper {


    .swiper-slide {
      margin: 20px;
      width: 300px;

      a {
        text-decoration: none;
      }
    }

  }


  .swiper-pagination-bullet {
    background: $grispale;
    width:15px;
    height:15px;

  }

  .swiper-pagination-bullet-active {
    background-color: $jaune;

  }

  .effet {
    display: inline-block;
    vertical-align: middle;

    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    transition-duration: 0.3s;

    transition-property: transform;
  }

  .effet:hover, .film:focus, .film:active {

    transform: scale(1.1);

  }

  .effet a:hover {
    text-decoration: none;
  }

}


@media screen and (min-width: $vw-medium) {
  .swiper-container {
    width: 80%;


  }
}

@media screen and (min-width: $vw-large) {
  .swiper-container {
    display: flex;
    flex-direction: row;
    width: 100%;



    .swiper-pagination {
      height: 20px;


    }
  }
}

