
.film .affiche, .fiche-film .affiche{
  width: 200px;


}


.liste-acteurs{
  display: flex;
}

.liste-acteurs img{
  width: 100px;

}


.fiche-film{
  a{
    color:$color-text-article;
    text-decoration: none;
  }

  margin-bottom:40px;
}

.critique{
  display:flex;
  flex-direction:row;

}