footer {
  color:$color-text-normal;


  .wrapper {
    width: 100%;
  }

  background-color: $color-bg-dark;
  margin-bottom: 0;
  .pied-page {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    flex-direction: row;
    align-items: center;
    padding: 10px;

    p {
      font-size: $fz-footer;
      margin: 0;
    }
    a {
      display: flex;
      width: 80px;
      justify-content: center;
      img {
        justify-content: center;
        //width: 40%;
        //height:40%;
      }
    }

    .mon-icone {
      font-size: $fz-h1;
      font-weight: $fw-bold;
      color: $tmbdvert;
      padding: 0px;
    }

    .scroll {

      background-color: $jaune;
      padding: 0px;
      border: none;

    }

  }

}