.commentaire{
  background-color: $grispale;

  display:flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 20px;
  color:$color-bg-page;
  padding:20px;
  h2{
    text-decoration: underline;
  }


  .btn-comment{
    background-color: $jaune;
    color:$gristresfonce;
    width:200px;
    border-radius: 5px;
    border:5px solid $jaune;
    margin:20px auto;
    font-size: $fz-h4;
    font-weight: $fw-bold;


    /* Grow */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }



  .btn-comment:hover, .btn-comment:focus, .btn-comment:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

  }

  .btn-comment a:hover {
    text-decoration: none;
  }

  input{
    background-color: $grispale;
    border:1px solid $gristresfonce;
    border-radius:5px;
    height:100px;
  }
  label{
    font-weight: $fw-bold;
  }

  i{
    font-size: $fz-h3;
    margin-right:40px;
  }
  .author{
    font-weight: $fw-bold;
    margin-bottom:20px;
  }

  .critique{
    display:flex;
    flex-direction:row;
    align-items: center;

  }
  .content{
    margin-left:65px;
    margin-bottom:50px;
  }
}