.header-page {
  background-color: $color-bg-dark;

  height: 100px;
  color: $color-text-normal;
  margin-bottom: 20px;

  i {
    color: $color-text-normal;

  }

  img {
    width: 20%;
    height: 20%;
  }

  nav div {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }


  .toggle-menu {
    display: none;
  }

  .toggle-menu:checked + ul {
    display: block;

    background-color: $color-bg-dark;
    margin-top: 0;

    display: flex;
    flex-direction: column;
    z-index: 50;

  }

  ul {

    display: none;

    list-style: none;
    padding: 0;
    width: 100%;

    text-align: center;
    position: absolute;
    z-index: 1;

    li {
      background-color: $color-bg-dark;
      font-family: $ff-title;
      font-weight: $fw-regular;
      font-size: $fz-nav;

    }

    li a {
      text-decoration: none;

    }

    li ul {
      position: static;

      li {
        background-color: $color-bg-dark;
      }
    }

    a {
      //color:$color-text-normal;
      display: block;
      padding: 10px 10px;
    }

    li:hover {
      ul {
        display: block;
      }
    }

    nav h2 {
      margin: 0;
    }
  }

  .menu {

    text-align: center;

  }


  .menu a {

    color: $color-text-normal;
    text-decoration: none;

    position: relative;

    align-items: center;

  }

  .menu li {
    align-items: center;
  }

  .menu li:hover a, .menu a:hover {


  }

  /* Float Shadow http://imagehover.io/ */
  .hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    //background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }

  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }

  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }

}

.invisible {
  display: none;
}

@media screen and (min-width: $vw-medium) {

  .header-page {
    margin: auto;

    i {
      display: none;
    }

    nav {
      display: flex;
      justify-content: space-between;

      align-items: center;
      align-content: center;


      div {
        //height: 71px;
        width: 400px;
      }

      .show-menu {
        display: none;
      }

      ul.menu {
        display: flex;

        justify-content: flex-end;

        //height: 71px;
        margin-right: 10px;
        //margin-top: 0;
        //margin-bottom: 0;
        z-index: 0;

        position: initial;


        li {
          flex-direction: column;
          padding-right: 0;
          padding-left: 16px;


          li ul {
            display: flex;

            margin-top: 180px;

          }

        }

      }
    }

  }

}

@media screen and (min-width: $vw-large) {
  .header-page {

    i {
      display: none;
    }

    nav {
      display: flex;
      justify-content: space-between;

      align-items: center;
      align-content: center;

      div {
        //height: 71px;
        width: 400px;
      }

      .show-menu {
        display: none;
      }

      ul.menu {
        display: flex;

        justify-content: flex-end;

        //height: 71px;
        margin-right: 10px;
        //margin-top: 0;
        //margin-bottom: 0;
        z-index: 0;

        position: initial;

        //align-items: center;
        li {
          flex-direction: column;
          padding-right: 0;
          padding-left: 16px;


          li ul {
            display: flex;

            margin-top: 180px;

          }

        }

      }
    }

  }

}
