.fiche-film {
  margin: 0 20px;

  .info {
    display: flex;
    flex-direction: column;
    margin: 40px auto;


    .filmposter {
      width: 400px;
      margin: 0 auto;

      .affiche {
        width: 400px;

      }
    }

    .filminfo {
      //width: 800px;
    }
  }

  @media screen and (min-width: $vw-medium) {
    .fiche-film {


      .info {

        flex-direction: row;
        margin: 40px 20px;

        .filmposter {

          margin: 0;
          justify-content: space-between;

        }
      }


      .filminfo {
        //width: 800px;
      }
    }

  }

}

@media screen and (min-width: $vw-large) {

  .fiche-film {


    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 40px 20px;

      .filmposter {

        margin: 0;
        justify-content: space-between;

      }
    }

    .filminfo {
      width: 400px;
    }
  }

}



