.liste-films {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;


  article {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(60% - 40px);
    //margin:20px auto;

    margin: 20px auto;
    padding: 40px;


    border: 5px solid $jaune;

    img {
      width: 100%;
    }


    .description {

      display: block;
      display: -webkit-box;
      max-width: 100%;

      line-height: $lh-normal;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .btn-film {
      color: $color-text-normal;
      vertical-align: center;
      font-size: $fz-h4;
      font-weight: $fw-bold;
    }

    div {

      background-color: $jaune;
      color: $color-text-normal;
      text-align: center;
      vertical-align: center;

      height: 40px;
      padding: 10px;
      border-radius: 5px;
      align-items: flex-end;
    }

  }

  /* Grow */
  .film {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  .film:hover, .film:focus, .film:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

  }

  .film a:hover {
    text-decoration: none;
  }


  @media screen and (min-width: $vw-medium) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    article.film {


      width: calc(40% - 20px);
      margin: 40px;


    }


  }


  @media screen and (min-width: $vw-large) {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    article.film {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: calc(30% - 40px);

      margin: 40px;
    }


  }

}





