.media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 200px;
  height:100px;

  a {

    justify-content: space-between;
    align-content: center;

    img {

      //margin:20px;
      width: 75%;
      height: 75%;
      margin:0 20px;
    }

    img:hover{
      width: 90%;
      height: 90%;
    }
  }

}